@model BugTrackerApplication.Models.TicketAssignViewModel
@{
    ViewBag.Title = "AssignTickets";
}

        <div>
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Assign Tickets</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">Assign Tickets</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            @using (Html.BeginForm())
                            {
                                @Html.HiddenFor(p => p.Id)
                                @Html.ListBoxFor(p => p.SelectedUsers, Model.UserList)
                                <input type="submit" value="Submit!" />
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; Ample Admin brought to you by wrappixel.com </footer>
        </div>